
*.class

# Package Files #
*.jar
*.war
*.ear
/ProyectoPOO/nbproject/private/
=======
*.class

# Package Files #
*.jar
*.war
*.ear
/ProyectoPOO/nbproject/private/
/ProyectoPOO/build/
/ProyectoPOO/dist/